section {
    padding: 5px 10px 5px 10px;
    margin-bottom: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    -moz-border-radius: 5px;
    box-shadow: 3px 3px 2px #dddeee;
}

section .date {
    text-align: right;
    font-style: italic;
}

section h2:hover {
    border-right: 3px solid #4f5f72;
    display-inside: revert;
    cursor: pointer;
    transition-delay: 200ms;
    transition-property: border;
    transition-duration: 20ms;
}

.label {
    color: #ffffff;
    display: inline-block;
    padding: 0 8px 0 8px;
    text-decoration: none;
    border-radius: 3px;
    -moz-border-radius: 3px;
    font-weight: bold;
    font-size: xx-small;
}

.label-primary {
    background-color: #428bca;
}

.label-sucess {
    background-color: #5cb85c;
}

.label-info {
    background-color: #5bc0de;
}

.label-warning {
    background-color: #f0ad4e;
}

.label-danger {
    background-color: #d9534f;
}

.pagination-page-info {
    padding: .6em;
    padding-left: 0;
    width: 40em;
    margin: .5em;
    margin-left: 0;
    font-size: 12px;
}
.pagination-page-info b {
    color: black;
    background: #6aa6ed;
    padding-left: 2px;
    padding: .1em .25em;
    font-size: 150%;
}